.container {
    width:400px;
    padding:20px;
    background-color: gray;
    text-align: center;
    border-radius: 12px;
    h2 {
      color:white;
      font-size: 28px;
      font-weight: bold;
      margin:0px;
    }
  
    .form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-top:30px;
  
      input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 16px;
  
        &:focus {
          outline: none;
          border-color: #4f46e5;
        }
      }
  
      button {
        padding: 10px;
        background-color: #4f46e5;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
  
        &:hover {
          background-color: #4338ca;
        }
      }
    }
  }
  